*{
    margin: 0;
    padding: 0;
    /*border:solid 1px black;*/
    text-decoration: none;    
    color: inherit;
    list-style-type: none;
}
:root{ 
    --size-icon-cabecera: 2.5em;
    --size-img-usuario-coment: 1.6em;
    --naranja-suave: rgb(255,200,100);
    --oscuro: rgb(5,5,20);
    --estilo-titulos: 'Kodchasan','Comfortaa',sans-serif;
    --estilo-coments: 'Inter',sans-serif;
    --estilo-autor: 'Manjari',sans-serif;
}
.txt-claro{
    color: var(--naranja-suave);
}
.txt-oscuro{
    color: var(--oscuro);
}

header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(40,45,60);
}
body{
    background-image: url('/pollock.jpg');
    backdrop-filter: brightness(0.28);
}
.icono-cabecera{
    height: var(--size-icon-cabecera);
    width: var(--size-icon-cabecera);
    margin: 0.5em;
}

#panel-derecho{
    display: flex;
    height: 12em;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

/* ESTILO DE LOS ELEMENTOS TIPO "SECCION-X" */
.card-gral{
    border-radius: 8px;
    margin: 0.4em;
    /*overflow: hidden;*/
}
.card-seccion{
    display:flex;
    background-color: rgb(222,222,222);
    border: 2px solid rgb(222,222,222);
}
.card-comentario-inicial{
    background-color: rgba(220,212,200);
}
.titulo-primario{
    margin:0 0 0.3em 0.3em;
    font-family: var(--estilo-titulos);
    font-size: 2em;   
    font-weight: 600; 
}
.titulo-secundario{    
    margin: 0 0 0 0.2em;    
    font-family: var(--estilo-titulos);
    font-size:1.4em;
    font-weight: 500;
}
.titulo-terceario{    
    margin: 0.2em;  
    font-family: var(--estilo-titulos);
    font-size:0.95em;
    font-weight: 500;
    word-spacing: 0em;
    line-height: 1em;
}

/* ESTILO DE LOS ELEMENTOS TIPO "COMENTARIO" */
.card-comentario-recent,
.card-tema{
    display: block;
    /*color:whitesmoke;*/
    background-color: rgb(222,222,222);
    flex-basis: auto;
    flex-shrink: 0;
    width: 18em;
    /*height: 7em;
    clear: both;*/
    border:2px solid; /*rgb(165,115,50);*/
    border-radius: 12px;
    margin: 0 0.2em 0.1em 0.2em;
    padding: 0.1em;
}
.card-tema{
    width:inherit ;
}
.card-comentario{
    background-color: rgb(222,222,222);border:2px solid; /*rgb(165,115,50);*/
    border-radius: 12px;
    margin: 0 0.2em 0.1em 0.2em;
    padding: 0.1em;
    width: 80%;
    margin-inline: 10%;
}
.card-cabecera{
    display:flex;    
    justify-content: space-between;
    align-items: center;
    font-family: var(--estilo-autor);
    font-size:0.84em;
    font-weight: 600;
}
.card-cabecera-derecha{
    display:flex;    
    align-items: center;
}
.card-cabecera-izquierda{
    text-align: right;    
    font-size: 0.8em;
}
.card-cuerpo{
    box-sizing: border-box;
}
.card-pie{
    margin-block: 0.85em;
    font-family: var(--estilo-autor);
    font-size: 0.78em;
    font-weight: 600;
}
.autor-comentario-img{
    height: var(--size-img-usuario-coment);
    width: var(--size-img-usuario-coment);
}
.texto-comentario{    
    font-family: var(--estilo-coments);
    font-size: 0.86em;
    font-weight: 400;
}
/*-------------------------------------------*/

/* BARRA DE NAVEGACION DE SECCIONES*/
.nav-secciones{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    margin-block: 0.5em;
    padding-block: 0.3em;
    background-color: var(--oscuro);
}
.btn-nav{
    padding-inline: 0.7em;
    padding-block: 0.3em;
    margin-inline: 0.2em;
    border: solid 1px var(--naranja-suave);
    border-radius: 18px;
    color: var(--naranja-suave);
    font-family: var(--estilo-titulos);
    font-size: 1.2em;
}
.pastilla{
    padding: 0.5em;
    font-family: var(--estilo-autor);
    border-radius: 10px;
    background-color: rgb(125,125,150);
}
.imagen-seccion{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}